.date-picker-wrap {
  font-size: 12px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
}
.date-picker-panel {
  text-align: center;
  width: 100%;
  border-spacing: 0px;
  td {
    width: 14.286%;
    padding: 0;
  }
}
.date-picker-week {
  line-height: 19px;
  font-size: 12px;
  color: #ccc;
}
.date-picker-cal-box {
  padding: 0;
  margin: 0 14px;
  font-size: 12px;
}

.date-picker-bar-box {
  text-align: center;
  height: 36px;
  line-height: 36px;
  background: rgba(247, 247, 247, 1);
  color: #333333;
  font-size: 15px;
  position: relative;
}
.date-picker-bar-icon {
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #ababab;
  cursor: pointer;
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  outline: none;
  outline-offset: 0;
  -ms-transform: translate(0, -50%);
}
.date-picker-bar-icon:first-child {
  left: 6px;
}
.date-picker-bar-icon:last-child {
  right: 6px;
}

.date-picker-bar-icon:hover {
  color: rgba(73, 184, 73, 1);
}
.date-picker-bar-icon:disabled {
  color: rgba(204, 204, 204, 5);
}
.date-picker-bar-txt {
  letter-spacing: 0.59px;
}

.date-picker-item-box {
  width: 24px;
  height: 24px;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  outline-offset: 0;
  text-align: center;
  padding: 0;
  margin: 1px auto;
  display: block;
  border: none;
  background: #fff;
}
.date-picker-item-box:hover,
.date-picker-item-box:active,
.date-picker-item-box:focus,
.date-picker-item-box:visited {
  background: #f0f0f0;
  color: inherit;
}
.date-picker-item-box.select {
  background: #49b849;
  color: #ffffff;
  border: 2px solid #b6e3b6;
}
.date-picker-item-box:disabled {
  background: #fff;
  color: #ababab;
  border: none;
}
